body, html {
    color: #000 !important;
       font-family:"Segoe UI", Arial, Helvetica, sans-serif;
}
#directoryObjects
{
font-family:"Segoe UI", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#directoryObjects td, #directoryObjects th 
{
font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
#directoryObjects th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#165079;
color:#ffffff;
}
#directoryObjects tr.alt td 
{
color:#000000;
background-color:#EEEEEE;
}

/*Unicon extension*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.header-title {
    display: inline-block;
}

#CreateExtension,
button.cancel-btn {
    float: right;
}
#CreateExtensionForm-wrapper,
.alert {
    display: none;
    margin: 20px 0px;
}

td {
    padding: 5px;
}

#directoryObjects td:last-child form {
    float: right;
}